<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Procab_Reseller>
            <version>0.1.1</version>
        </Procab_Reseller>
    </modules>
    <global>    
      <blocks>
       <!--  <catalog>
                <rewrite>
                    <product_view_type_configurable>Procab_Reseller_Block_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog> -->
        <reseller>
          <class>Procab_Reseller_Block</class>
        </reseller>
      </blocks>
      <helpers>
          <reseller>
              <class>Procab_Reseller_Helper</class>
          </reseller>
      </helpers>
      <models>
            <reseller>
                <class>Procab_Reseller_Model</class>
                <resourceModel>reseller_mysql4</resourceModel>
            </reseller>
            <reseller_mysql4>
                <class>Procab_Reseller_Model_Mysql4</class>
                <entities>      
                    <country>
                        <table>reseller_country</table>
                    </country>
                    <reseller>
                        <table>reseller</table>
                    </reseller>                    
                </entities>
            </reseller_mysql4>
            <procab_reseller>
                <class>Procab_Reseller_Model</class>
            </procab_reseller>

        </models>
        <resources>
            <reseller_setup>
                <setup>
                    <module>Procab_Reseller</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reseller_setup>
            <reseller_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reseller_write>
            <reseller_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reseller_read>
        </resources>
    </global>
    <frontend>
      <routers>
          <reseller>
              <use>standard</use>
              <args>
                  <module>Procab_Reseller</module>
                  <frontName>reseller</frontName>
              </args>
          </reseller>
      </routers>
      <layout>
          <updates>
              <reseller>
                  <file>reseller.xml</file>
              </reseller>
          </updates>
      </layout>
      <events>
        <controller_action_layout_render_before_catalog_product_view>
            <observers>
                <procab_reseller>
                    <class>procab_reseller/observer</class>
                    <method>showOutOfStock</method>
                </procab_reseller>
            </observers>
        </controller_action_layout_render_before_catalog_product_view>
        <controller_action_layout_render_before_checkout_cart_configure>
            <observers>
                <procab_reseller>
                    <class>procab_reseller/observer</class>
                    <method>showOutOfStock</method>
                </procab_reseller>
            </observers>
        </controller_action_layout_render_before_checkout_cart_configure>
    </events>
  </frontend>
  <admin>
        <routers>
            <reseller>
                <use>admin</use>
                <args>
                    <module>Procab_Reseller</module>
                    <frontName>reseller</frontName>
                </args>
            </reseller>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <reseller module="reseller">
                <title>Resellers</title>
                <sort_order>71</sort_order>               
                <children>
                    <country module="reseller">
                        <title>Manage Country</title>
                        <sort_order>0</sort_order>
                        <action>reseller/adminhtml_country</action>
                    </country>                    
                    <reseller module="reseller">
                        <title>Manage Resellers</title>
                        <sort_order>1</sort_order>
                        <action>reseller/adminhtml_reseller</action>
                    </reseller>
                </children>
            </reseller>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Procab_Reseller>
                            <title>Reseller Module</title>
                            <sort_order>10</sort_order>
                        </Procab_Reseller>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <reseller>
                    <file>reseller.xml</file>
                </reseller>
            </updates>
        </layout>
    </adminhtml>
</config>